:root {
  --cor1: rgb(33, 33, 32);
  --cor2: rgb(38, 38, 39);
  --cor3: rgb(178, 41, 54);
  --cor4: rgb(168, 121, 34);
  --cor5: rgba(168, 121, 34, 0.153);
  --cor6: rgb(58, 58, 58);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}

body {
  background-color: var(--cor1);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logoImg {
  width: 450px;
  height: 450px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px 4px;
  gap: 30px;
}

.sectionMain {
  background-color: var(--cor2);
  border-radius: 4px 4px;
  width: 400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.196);
}

.sectionMain div {
  background-color: var(--cor3);
  border-radius: 4px 4px;
  width: 300px;
  height: 50px;
  position: relative;
  box-shadow: 4px 4px 6px var(--cor5);
}

.sectionMain div a {
  width: 100%;
  height: 100%;
  font-weight: bold;
  position: absolute;
  text-align: center;
  padding-top: 15px;
}

/*pegando o circulo*/

.sectionDetona {
  width: 500px;
  background-color: rgba(0, 0, 0, 0.155);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.196);
  border-radius: 4px 4px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sectionDetona2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--cor3);
  border-radius: 4px 4px;
  width: 500px;
  height: 50px;
}

.sectionDetona div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.144);
  cursor: pointer;
}

.sectionDetona div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.squareDetona {
  width: 100px;
  height: 100px;
  background-color: var(--cor6);
}

.enemy {
  width: 70px;
  height: 70px;
  background-color: var(--cor3);
  border-radius: 50%;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.enemy::before {
  content: 'IFOOD';
  font-size: 11px;
}